@using Semestralka.Models;
@using Semestralka.DataObjects;

@model CategoryModel

@{
    ViewBag.Title = "Kategorie";
}

<h2>Kategorie</h2>

@using (Html.BeginForm("Index", "Categories", FormMethod.Post))
{
    <div class="form-group">
        @*Label and textbox for category name*@
        @Html.LabelFor(m => m.name_category)
        @Html.TextBoxFor(m => m.name_category)
        
        @*Add button*@
        <input type="submit" value="Přidat" />
    </div>
    
    if (ViewBag.Categories != null) 
    {
    @*List of categories*@
    <table class="table">
           <tbody>
               @foreach (CategoryDO category in ViewBag.categories)
               {
                   <tr>
                       <td>@category.CategoryName</td>
                       <td>
                           <a href="@Url.Action("Remove", "Categories", new { categoryName = @category.CategoryName })">
                               <span class="glyphicon glyphicon-remove" ></span>
                           </a>
                       </td>
                   </tr>
               }
           </tbody>
       </table>
    }
}