@using Semestralka.Models;

@model AddUserModel

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

@if (!Html.ViewData.ModelState.IsValid)
{
    @Html.ValidationSummary(true, "", "p")
}
else 
{
    @*Form for adding new user*@
using (Html.BeginForm("Index", "Users", FormMethod.Post))
{    
     <div class="form-group">
        @*Label and textbox for username*@
        @Html.Label("Username")
        @Html.TextBoxFor(m => m.username)
        @Html.ValidationMessage("Username")

        @*Label and textbox for password*@
        @Html.Label("Password")
        @Html.PasswordFor(m => m.password)
        @Html.ValidationMessage("Password")

        @*Label and textbox for firstname*@
        @Html.Label("Firstname")
        @Html.TextBoxFor(m => m.firstname)
        @Html.ValidationMessage("Firstname")

        @*Label and textbox for lastname*@
        @Html.Label("Lastname")
        @Html.TextBoxFor(m => m.lastname)
        @Html.ValidationMessage("Lastname")

        @*Label and textbox for user_right*@
        @Html.Label("Edit users")
        @Html.CheckBoxFor(m => m.user_right)

        @*Submit button*@
        <input type="submit" value="Send" />
    </div>
}
}
