@using Semestralka.Models;

@model LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@*Login form*@
@using (Html.BeginForm("Login", "Users", FormMethod.Post))
{
    @Html.AntiForgeryToken();

    @Html.ValidationSummary(true, "", "p");
    
    <div class="form-group">
        @*Label and textbox for username*@
        @Html.LabelFor(m => m.username)
        @Html.TextBoxFor(m => m.username)
        @Html.ValidationMessage("Username")

        @*Label and textbox for username*@
        @Html.LabelFor(m => m.password)
        @Html.PasswordFor(m => m.password)
        @Html.ValidationMessage("Password")

        @*Login button*@
        <input type="submit" value="Login"/>
    </div>
}

