@using Semestralka.Models;
@using Semestralka.DataObjects;

@model RecipeModel

@{
    ViewBag.Title = "Recepty";
}

<h2>Recepty</h2>

@Html.ValidationSummary(true, "", "p")

@*All recipes in database*@
<table class="table">
    <tbody>
        @foreach (RecipeDO recipe in ViewBag.RecipesList)
        {
            <tr>
                <td>@recipe.RecipeName</td>
                <td>
                    <a href="@Url.Action("Recipe", "Recipes", new { id = @recipe.RecipeID })">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Remove", "Recipes", new { id = @recipe.RecipeID })">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*Form for creating new recipe*@
@using (Html.BeginForm("Index", "Recipes", FormMethod.Post))
{    
    <div class="form-group">
        @*Label and textbox for recipe name*@
        @Html.LabelFor(m => m.Name_recipe)
        @Html.TextBoxFor(m => m.Name_recipe, new { maxlength = 1024 })
        @Html.ValidationMessage("RecipeName")

        @*Dropdown for category*@
        @Html.DropDownListFor(m => m.Id_category, (List<SelectListItem>)ViewBag.CategoryList,
            new
            {
                @class = "form-control input-sm",
            })
        
        @Html.TextAreaFor(m => m.Instructions, 10, 70, new { maxlength = 2048 })
        @Html.ValidationMessage("InstructionsArea")
     
         @*Add button*@
        <input type="submit" name="add" value="Přidat" />
    </div>
}