@using Semestralka.Models;
@using Semestralka.DataObjects;

@model RecipeModel



@{
    ViewBag.Title = "Recepty";
}

<div id="recipe-content">
    <div class="modal-header">
        <h4 class="modal-title">
            <i class="fa fa-file-text"></i>
            Recepty
        </h4>
    </div>
    <div class="modal-body">      
        @*All recipes in database*@
        <table class="table">
            <tbody>
                @foreach (RecipeDO recipe in ViewBag.RecipesList)
                {
                    <tr>
                        <td style="padding-right:50%">
                            @recipe.RecipeName
                        </td> 

                        <td>
                            <a href="@Url.Action("Recipe", "Recipes", new { id = @recipe.RecipeID })">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Remove", "Recipes", new { id = @recipe.RecipeID })">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    <h4 class="modal-title">
        <i class="fa fa-plus-circle"></i>
        Přidat recept
    </h4>


@Html.ValidationSummary(true, "", new { @class = "error-message" })

@*Form for creating new recipe*@
@using (Html.BeginForm("Index", "Recipes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @*Label and textbox for recipe name*@
        @Html.TextBoxFor(m => m.Name_recipe, new { maxlength = 1024, placeholder = "Název receptu", @class = "form-control" })
        @Html.ValidationMessage("RecipeName", new { @class = "error-message" })   
    </div>
    
    <div class="form-group">
        @*Dropdown for category*@
        @Html.DropDownListFor(m => m.Id_category, (List<SelectListItem>)ViewBag.CategoryList,
            new
            {
                @class = "form-control input-sm",
            })
    </div>
    
    <div class="form-group">
        @Html.TextAreaFor(m => m.Instructions, 10, 70, new { maxlength = 2048, placeholder = "Postup", @class = "form-control" })
        @Html.ValidationMessage("InstructionsArea", new { @class = "error-message" })
    </div>
    
    <input type="file" name="file" />
    
    <input type="submit" class="btn signin-btn" name="add" value="Přidat" />
}

    </div>
</div>

