@using Semestralka.Models;
@using Semestralka.DataObjects;

@model IngredientModel

@{
    ViewBag.Title = "Ingredients";
}

<h2>Ingredients</h2>

@Html.ValidationSummary(true, "", "p")

@*List of categories*@
<table class="table">
    <tbody>
        @foreach (IngredientsDO ingredient in ViewBag.ingredients)
        {
            <tr>
                <td>@ingredient.IngredientName</td>
                <td>@ingredient.Unit</td>
                <td>
                    <a href="@Url.Action("RemoveIngredient", "Recipes", new { id = @ingredient.IngredientID })">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>



@using (Html.BeginForm("Ingredients", "Recipes", FormMethod.Post))
{
    <div class="form-group">
        @*Label and textbox for recipe name*@
        @Html.LabelFor(m => m.Name_ingredient)
        @Html.TextBoxFor(m => m.Name_ingredient)

        @*Label and textbox for unit*@
        @Html.LabelFor(m => m.Unit)
        @Html.TextBoxFor(m => m.Unit)

        @*Add button*@
        <input type="submit" value="Přidat" />
    </div>
}