@using Semestralka.DataObjects;
@using Semestralka.Models;

@model RecipeDetailModel

@{
    ViewBag.Title = "Recipe";
}

<h2>Recipe</h2>


@*Recipe*@
@using (Html.BeginForm("Recipe", "Recipes", FormMethod.Post))
{

@Html.HiddenFor(m => m.RecipeModel.Id_recipe);                                            

<table class="table">
    <tbody>
            <tr>
                <td>@Html.DisplayFor(m => m.RecipeModel.Name_recipe)</td>
                <td>@Html.DisplayFor(m => m.RecipeModel.Id_category)</td>
                <td>@Html.DisplayFor(m => m.RecipeModel.Instructions)</td>
            </tr>
    </tbody>
</table>

@*Ingredients*@
<p>Ingredience</p>
<table class="table">
    <tbody>
        @foreach (RecipeIngredientsDO ingredient in ViewBag.Ingredients)
        {
            <tr>
                <td>@ingredient.Amount</td>
            </tr>
        }

        @foreach (string ingredientName in ViewBag.IngredientsNames)
        {
            <tr>
                <td>@ingredientName</td>
            </tr>
        }
    </tbody>
</table>

@*Dropdown for category *@
    @Html.DropDownListFor(m => m.IngredientModel.Id_ingredient, (List<SelectListItem>)ViewBag.IngredientsList,
        new
        {
            @class = "form-control input-sm",
            onchange = "$(this).closest('form').submit();",
        })
    
    @Html.TextBoxFor(m => m.RecipeIngredient.Amount)
    @ViewBag.Unit
   <input type="submit" value="Přidat" name="Add"/>
}