@using Semestralka.DataObjects;
@using Semestralka.Models;

@model RecipeDetailModel

@{
    ViewBag.Title = "Recipe";
}

<h2>Recipe</h2>

@*Recipe*@
<table class="table">
    <tbody>
        @foreach (RecipeDO recipe in ViewBag.Recipe)
        {
            <tr>
                <td>@recipe.RecipeName</td>
                <td>@recipe.CategoryID</td>
                <td>@recipe.Instructions</td>
            </tr>
        }
    </tbody>
</table>

@*Ingredients*@


@*Dropdown for category*@
@using (Html.BeginForm("Recipe", "Recipes", FormMethod.Post))
{
    @Html.DropDownListFor(m => m.IngredientModel.id_ingredient, (List<SelectListItem>)ViewBag.IngredientsList,
        new
        {
            @class = "form-control input-sm",
            onchange = "$(this).closest('form').submit();"
        })
    
    @ViewBag.Unit
   <input type="submit" value="Přidat" />
}